<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <div class="container-fluid">
    <h4 class="navbar-brand" href="#">Message App</h4>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="d-flex nav-item">
        <%= link_to 'Logout', logout_path, method: 'delete', class: 'nav-link' %>
      </div>
  </div>
</nav>